<a href="https://colab.research.google.com/github/louisaliu173-glitch/QM2.0/blob/main/project1_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

df = pd.read_csv(
    "/content/drive/MyDrive/Colab Notebooks/Thailand Data.csv",
    encoding="utf-8"
)

df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,COUNTRY,CITY,YEAR,TEMPERATURE,GDP PER CAPITA,POPULATION,LATITUDE,LONGITUDE,ELEVATION
0,Thailand,Bangkok,2016,28.49,17364.0,6150.315548,13.6585 N,99.9083E,1.5
1,Thailand,Bangkok,2017,28.42,18266.3,6310.320648,13.6585 N,99.9083E,1.5
2,Thailand,Bangkok,2018,28.75,19299.4,6474.150571,13.6585 N,99.9083E,1.5
3,Thailand,Bangkok,2019,28.76,20267.5,6597.819851,13.6585 N,99.9083E,1.5
4,Thailand,Bangkok,2020,28.84,18762.2,6718.301779,13.6585 N,99.9083E,1.5

In [23]:
import numpy as np

df = df.sort_values(['CITY', 'YEAR'])

def fill_linear(series, years):
    known = series.dropna()
    if len(known) < 2:
        return series
    y_known = years.loc[known.index]
    slope = (known.iloc[-1] - known.iloc[0]) / (y_known.iloc[-1] - y_known.iloc[0])
    intercept = known.iloc[0] - slope * y_known.iloc[0]
    out = series.copy()
    out.loc[series.isna()] = slope * years.loc[series.isna()] + intercept
    return out

df['GDP PER CAPITA'] = (
    df.groupby('CITY', group_keys=False)
      .apply(lambda g: fill_linear(g['GDP PER CAPITA'], g['YEAR']))
)

df['POPULATION'] = (
    df.groupby('CITY', group_keys=False)
      .apply(lambda g: fill_linear(g['POPULATION'], g['YEAR']))
)

df['TEMPERATURE'] = (
    df.groupby('CITY')['TEMPERATURE']
      .transform(lambda x: x.fillna((x.shift() + x.shift(-1)) / 2))
)

df['TEMPERATURE'] = (
    df.groupby('CITY', group_keys=False)
      .apply(lambda g: fill_linear(g['TEMPERATURE'], g['YEAR']))
)

df.head()
df.to_csv("Thailand_Data_cleaned.csv", index=False)

for col in ['TEMPERATURE', 'GDP PER CAPITA', 'POPULATION']:
    df[col] = df[col].round(2)
print(df)

     COUNTRY        CITY  YEAR  TEMPERATURE  GDP PER CAPITA  POPULATION  \
0   Thailand     Bangkok  2016        28.49        17364.00     6150.32
1   Thailand     Bangkok  2017        28.42        18266.30     6310.32
2   Thailand     Bangkok  2018        28.75        19299.40     6474.15
3   Thailand     Bangkok  2019        28.76        20267.50     6597.82
4   Thailand     Bangkok  2020        28.84        18762.20     6718.30
..       ...         ...   ...          ...             ...         ...
45  Thailand  Udon Thani  2021        27.90         6395.12      544.85
46  Thailand  Udon Thani  2022        27.40         6747.01      550.52
47  Thailand  Udon Thani  2023        27.40         6751.37      557.13
48  Thailand  Udon Thani  2024        27.60         6821.27      563.74
49  Thailand  Udon Thani  2025        27.60         6891.17      570.35

     LATITUDE    LONGITUDE  ELEVATION
0   13.6585 N     99.9083E        1.5
1   13.6585 N     99.9083E        1.5
2   13.6585 N     99.9083E        1.5
3   13.6585 N     99.9083E        1.5
4   13.6585 N     99.9083E        1.5
..        ...          ...        ...
45  17°25′0″N  102°45′00″E      177.0
46  17°25′0″N  102°45′00″E      177.0
47  17°25′0″N  102°45′00″E      177.0
48  17°25′0″N  102°45′00″E      177.0
49  17°25′0″N  102°45′00″E      177.0

[90 rows x 9 columns]

/tmp/ipython-input-1223611907.py:18: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: fill_linear(g['GDP PER CAPITA'], g['YEAR']))
/tmp/ipython-input-1223611907.py:23: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: fill_linear(g['POPULATION'], g['YEAR']))
/tmp/ipython-input-1223611907.py:33: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: fill_linear(g['TEMPERATURE'], g['YEAR']))

In [27]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

df = pd.read_csv(
    "/content/drive/MyDrive/Colab Notebooks/Korea_Data.csv",
    encoding="utf-8"
)

df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Country,Province,Year,Temperature,GDP per Capita in USD,GDP per Capita（Thousand）,Population Density,Latitude,Longitude,Elevation,Year.1,KRW per 1 USD (annual average)
0,Korea,Seoul,2015,13.6,32924.23,37236,16364.0,37.583333,127.0,35,2015.0,1130.9603
1,Korea,Seoul,2016,13.6,33946.84,39356,16202.2,37.583333,127.0,35,2016.0,1159.3422
2,Korea,Seoul,2017,13.0,36645.18,41374,16095.8,37.583333,127.0,35,2017.0,1129.0435
3,Korea,Seoul,2018,12.9,39720.09,43664,15983.7,37.583333,127.0,35,2018.0,1099.2926
4,Korea,Seoul,2019,13.5,38701.27,45118,15926.9,37.583333,127.0,35,2019.0,1165.8016

In [30]:
import numpy as np

df = df.sort_values(['Province', 'Year'])

def fill_linear(series, years):
    known = series.dropna()
    if len(known) < 2:
        return series
    y_known = years.loc[known.index]
    slope = (known.iloc[-1] - known.iloc[0]) / (y_known.iloc[-1] - y_known.iloc[0])
    intercept = known.iloc[0] - slope * y_known.iloc[0]
    out = series.copy()
    out.loc[series.isna()] = slope * years.loc[series.isna()] + intercept
    return out

df['GDP per Capita in USD'] = (
    df.groupby('Province', group_keys=False)
      .apply(lambda g: fill_linear(g['GDP per Capita in USD'], g['Year']))
)

df['Pupulation Density'] = (
    df.groupby('Province', group_keys=False)
      .apply(lambda g: fill_linear(g['Population Density'], g['Year']))
)

df['Temperature'] = (
    df.groupby('Province')['Temperature']
      .transform(lambda x: x.fillna((x.shift() + x.shift(-1)) / 2))
)

df['Temperature'] = (
    df.groupby('Province', group_keys=False)
      .apply(lambda g: fill_linear(g['Temperature'], g['Year']))
)

df.head()
df.to_csv("Korea_Data_cleaned.csv", index=False)

for col in ['Temperature', 'GDP per Capita in USD', 'Population Density']:
    df[col] = df[col].round(2)

print(df)

   Country Province  Year  Temperature  GDP per Capita in USD  \
6    Korea    Busan  2015         15.4               21182.00
7    Korea    Busan  2016         15.7               21404.38
8    Korea    Busan  2017         15.2               22718.35
9    Korea    Busan  2018         15.1               24073.66
10   Korea    Busan  2019         15.7               23654.97
..     ...      ...   ...          ...                    ...
37   Korea    Ulsan  2016         14.8               55221.83
38   Korea    Ulsan  2017         14.5               57898.57
39   Korea    Ulsan  2018         14.3               58030.96
40   Korea    Ulsan  2019         14.9               55851.70
41   Korea    Ulsan  2020         14.6               51581.65

    GDP per Capita（Thousand）  Population Density   Latitude   Longitude  \
6                      23956              4479.9  35.133333  129.050000
7                      24815              4468.8  35.133333  129.050000
8                      25650              4437.4  35.133333  129.050000
9                      26464              4409.8  35.133333  129.050000
10                     27577              4379.7  35.133333  129.050000
..                       ...                 ...        ...         ...
37                     64021              1099.2  35.566667  129.266667
38                     65370              1090.4  35.566667  129.266667
39                     63793              1083.4  35.566667  129.266667
40                     65112              1076.9  35.566667  129.266667
41                     60895              1069.0  35.566667  129.266667

    Elevation  Year.1  KRW per 1 USD (annual average)  Pupulation Density
6          72     NaN                             NaN              4479.9
7          72     NaN                             NaN              4468.8
8          72     NaN                             NaN              4437.4
9          72     NaN                             NaN              4409.8
10         72     NaN                             NaN              4379.7
..        ...     ...                             ...                 ...
37         12     NaN                             NaN              1099.2
38         12     NaN                             NaN              1090.4
39         12     NaN                             NaN              1083.4
40         12     NaN                             NaN              1076.9
41         12     NaN                             NaN              1069.0

[102 rows x 13 columns]

/tmp/ipython-input-341805273.py:18: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: fill_linear(g['GDP per Capita in USD'], g['Year']))
/tmp/ipython-input-341805273.py:23: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: fill_linear(g['Population Density'], g['Year']))
/tmp/ipython-input-341805273.py:33: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: fill_linear(g['Temperature'], g['Year']))